name: main
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build and push
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    strategy:
      matrix:
        module:
          - azure-token-generator
          - tokenx-token-generator
          - wonderwalled-azure
          - wonderwalled-idporten
          - wonderwalled-maskinporten
    steps:
      - name: Checkout latest code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@017a9effdb900e5b5b2fddfb590a105619dca3c3 # ratchet:gradle/actions/setup-gradle@v4
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@017a9effdb900e5b5b2fddfb590a105619dca3c3 # ratchet:gradle/actions/dependency-submission@v4
      - name: Build with Gradle
        run: ./gradlew clean ${{ matrix.module }}:build ${{ matrix.module }}:installDist
      - uses: nais/platform-build-push-sign@main # ratchet:exclude
        id: build_push_sign
        with:
          name: ${{ matrix.module }}
          context: ./${{ matrix.module }}
          dockerfile: ./${{ matrix.module }}/Dockerfile
          google_service_account: gh-wonderwalled
          multi-platform: true
          push: true
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
      - uses: nais/login@v0 # ratchet:exclude
        with:
          team: nais
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }} # Provided as Organization Secret
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }} # Provided as Organization Variable
      - uses: nais/deploy/actions/deploy@v2 # ratchet:exclude
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/${{ matrix.module }}.yaml
          IMAGE: ${{ steps.build_push_sign.outputs.tag }}
